<div class="comments-form secondary-content-box">

  <h3>Leave a Comment</h3>

  <p class="light-font">Please be polite. We appreciate that.<br />Your email address will not be published and required fields are marked.</p>
  <form class="form">
  
    <input type="text" name="name" placeholder="Your Name*" class="name" />
    <input type="text" name="email" class="email" placeholder="Your Email*" />
    <input type="text" name="website" class="website" placeholder="Your Website (optional) " />
    <textarea class="message" name="message" placeholder="Your Comment*"></textarea>
    <input type="submit" class="submit-comment" value="Post Comment" />
  </form>
</div>
