<div class="single-comment">

  <div class="avatar">
    <a href="#">
    <img src="/img/demo/avatarx-4.png" alt="User Avatar">
    </a>
  </div>

  <div class="comment-content">
      
      
    <h4><a href="#">Robert Downey Jr.</a></h4>
    <span class="comment-date">25 August, 2013 at 5.37 PM</span>
    
    
    <div class="comment-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, suscipit, quo, hic illo id consequatur adipisci facere fuga dolore odio sed veniam vel autem blanditiis est necessitatibus officiis corrupti quis.
      </p>
    </div>
      
  </div>
  
</div>